[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "amx"]
	path = site-lisp/extensions/amx
	url = https://github.com/DarwinAwardWinner/amx
[submodule "snails"]
	path = site-lisp/extensions/snails
	url = https://github.com/manateelazycat/snails
[submodule "pinyinlib"]
	path = site-lisp/extensions/pinyinlib
	url = https://github.com/georgealbert/pinyinlib.el
[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/georgealbert/aweshell
[submodule "pyim"]
	path = site-lisp/extensions/pyim
	url = https://github.com/georgealbert/pyim
