[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = https://github.com/manateelazycat/awesome-pair
[submodule "amx"]
	path = site-lisp/extensions/amx
	url = https://github.com/DarwinAwardWinner/amx
