[submodule "lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = git@github.com:manateelazycat/lazy-load.git
[submodule "awesome-pair"]
	path = site-lisp/extensions/awesome-pair
	url = git@github.com:manateelazycat/awesome-pair
[submodule "pinyinlib"]
	path = site-lisp/extensions/pinyinlib
	url = git@github.com:georgealbert/pinyinlib.el
[submodule "aweshell"]
	path = site-lisp/extensions/aweshell
	url = git@github.com:georgealbert/aweshell
[submodule "pyim"]
	path = site-lisp/extensions/pyim
	url = git@github.com:georgealbert/pyim
[submodule "sdcv"]
	path = site-lisp/extensions/sdcv
	url = git@github.com:manateelazycat/sdcv
[submodule "amx"]
	path = site-lisp/extensions/amx
	url = git@github.com:georgealbert/amx
[submodule "org-static-blog"]
	path = site-lisp/extensions/org-static-blog
	url = git@github.com:georgealbert/org-static-blog
[submodule "lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = git@github.com:manateelazycat/lsp-bridge.git
[submodule "color-rg"]
	path = site-lisp/extensions/color-rg
	url = git@github.com:manateelazycat/color-rg
[submodule "fingertip"]
	path = site-lisp/extensions/fingertip
	url = https://github.com/manateelazycat/fingertip
