# lisp file
# *.el
*.elc
*.zip
amx-items

%backup%~
auto-save-list/
backup/
elpa/
ido.last
places
recentf
server/
var/
transient/
eshell/
semanticdb/
auto-save-list/
backup/
.cache/
.cask/
snippets/
Albert.el
emacs.pdmp
org-clock-save.el
projectile-bookmarks.eld
bookmarks
.lsp-session-v1
.org-id-locations
eln-cache/